[Unit]
Description=Auto-resize Root Filesystem to Full Disk Capacity on First Boot
Documentation=man:growpart(1) man:resize2fs(8)
DefaultDependencies=no
ConditionPathExists=!/etc/rpi-resizerootfs.done
After=local-fs.target
Before=multi-user.target
Conflicts=shutdown.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/rpi-resizerootfs.sh
StandardOutput=journal+console
StandardError=journal+console
TimeoutSec=180

[Install]
WantedBy=multi-user.target
